[user]
	name = vivek80801
	email = 57554760+vivek80801@users.noreply.github.com
[core]
	editor = vi
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
